body{
  font-family: "Helvetica", sans-serif;
  font-size: 150%;
  background-color: white;
}

.calc-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20%;
  background-color: white;
}

.calc-container div{
  flex-basis: 24.9%;
  text-align: center;
  vertical-align: middle;
  background-color: #61b34f;
  margin: 0.2px;
  color: white;
}

#display-box{
  background-color: #61b34f;
  flex-basis: 75%;
}

#modulo{
  flex-basis: 49.9%;
}

#square-root{
  flex-basis: 49.9%;
}

#divide, #multiply, #minus, #plus{
  background-color: #82c276;
}

.operation h2{
  color: black;
}

#display{
  text-align: right;
  padding-right: 5%;
}
